@import url('https://fonts.googleapis.com/css2?family=Padauk:wght@400;700&family=Source+Sans+Pro:ital,wght@0,400;0,600;1,300&display=swap');


$font-family-sans-serif :'Padauk',  'Source Sans Pro', sans-serif;

@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";


.del-btn{
    display: none;
    font-size: 10px;
    transition: 0.5s;
}

#rows tr:hover .del-btn{
    display: block;
}